*{
  box-sizing: border-box;
}
hr {
  color: blue;
}
.nav{
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
}
.nav a{
  color:inherit;
}
.nav ul {
  
  list-style: none;
  display: flex;
  gap: 1rem;
}


.foot{
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
}
.foot .liens{
  display: flex;
  flex-direction: column;
}
.foot .realisation{
  display:flex;
  flex-direction: column;
}

